[submodule "third_party/nanopb"]
	path = third_party/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "third_party/otel-proto"]
	path = third_party/otel-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
