# =============================================================================
# Percona XtraDB Cluster — Node 2 (Joiner)
# =============================================================================
[mysqld]
server-id                     = 2
bind-address                  = 0.0.0.0

# InnoDB
default-storage-engine        = InnoDB
innodb-autoinc-lock-mode      = 2
innodb-buffer-pool-size       = 256M

# Connections
max-connections               = 200


# Disable SSL for Galera cluster traffic (test only)
loose-pxc_encrypt_cluster_traffic = OFF
